<!DOCTYPE html>
<html lang="en">
{% load static %} <!-- Add this line at the top of your template -->
{% load custom_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed | DevSocial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header class="header bg-dark text-light">
        {% include 'header/header.html' %}
    </header>

    <main class="main">
        <div class="container">
            <div>
                <div id="post-form-container" class="post-form">
                    <form id="post-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea id="text-area" name="content" placeholder="What's on your mind?"
                                {% if not user.is_authenticated%}
                                disabled
                                {% endif %} class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="file" name="file"
                                {% if not user.is_authenticated%}
                                disabled
                                {% endif %} class="form-control-file">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"
                                {% if not user.is_authenticated %}
                                disabled
                                {% endif%}>Post</button>
                        </div>
                    </form>
                </div>
                {% if user.is_authenticated %}
                <div class="toggle-bar-wrapper">
                    <div class="toggle-link">
                        <a href="{% if show_all %}{% url 'feed' %}{% else %}{% url 'feed' %}?show_all=1{% endif %}"
                            class="btn btn-secondary">
                            {% if show_all %}
                            Show Friends' Posts
                            {% else %}
                            Show All Posts
                            {% endif %}
                        </a>
                    </div>
                </div>
                {% endif %}

                {% include 'post/post_card.html' %}
            </div>
        </div>
    </main>

    {% if user.is_authenticated %}
    <div class="chat-area" id="chat-area"></div>

    <div class="right-side-view">
    <!-- Add the right side view -->
    <!-- Add an empty <div> to hold the chat content -->

    <!-- Sidebar with friend and conversation links -->
    <div class="sidebar">
    <h5 class="sidebar-heading">Friends</h5>
    <!-- Friend links -->
    {% for friend in friends %}
    <div class="profile-image">
        <img src="{{friend.userprofile.profile_picture.url}}" data-conversation-url="{% url 'start_conversation' friend.id %}" alt="{{ friend.username }}" class="img-fluid rounded-circle friend-image">
    </div>
    {% endfor %}

    <hr class="sidebar-divider">

    <h5 class="sidebar-heading">Chat List</h5>
    <!-- Conversation links -->
    {% for conversation in conversations %}
    {% if conversation.messages.exists %}
    {% for participant in conversation.participants.all %}
    {% if participant != request.user %}
    <div class="profile-image">
        <img src="{{participant.userprofile.profile_picture.url}}" data-conversation-url="{% url 'conversation_detail' conversation.id %}" alt="{{ participant.username }}" class="img-fluid rounded-circle friend-image">
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>

</div>

    {% endif %}


    <footer class="footer">
        {% include 'footer/footer.html' %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>


        const text_area = document.getElementById(`text-area`);

    text_area.addEventListener("input", () => {
        text_area.style.height = "auto"; // Reset height
        text_area.style.height = `${text_area.scrollHeight}px`; // Set new height
    });






    // Attach event handlers to friend and conversation buttons
    const friendButtons = document.querySelectorAll('.friend-image');
    const conversationButtons = document.querySelectorAll('.conversation-button');


    function fetchMessages(messageList) {
    const conversationId = messageList.getAttribute("data-conversation-id");

    // Fetch messages using AJAX
    fetch(`/fetch_messages/${conversationId}/`, {
                    method: "POST",
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",  // Indicate an AJAX request
                        "X-CSRFToken": "{{ csrf_token }}"      // Include CSRF token
                    }
                })
        .then(response => response.json())
        .then(data => {
            const textArea = messageList;
            console.log(messageList);
            textArea.innerHTML = data.updated_messages_html;
        })
        .catch(error => {
            console.error('Error fetching messages:', error);
        });
}
let messagesList = null;
let messageInterval = null;

    function loadChatContent(url) {
        // Use AJAX to fetch chat content from the server
        // and update the chat area with the fetched content
        const chatArea = document.getElementById('chat-area');
        fetch(url)
            .then(response => response.text())
            .then(content => {
                chatArea.innerHTML = content;

            messagesList = chatArea.querySelector('.message-list');

            // Clear existing interval if it's set
            if (messageInterval !== null) {
                clearInterval(messageInterval);
            }

            // Set up the new interval
            messageInterval = setInterval(function() {
                fetchMessages(messagesList);
            }, 2000); // Fetch every 2 seconds

             const closeBtn = document.getElementById('close-button');
    closeBtn.addEventListener('click', () => {
    const chatArea = document.getElementById('chat-area');
    chatArea.innerHTML = '';
        console.log('a');
    });



                const sendButton = document.getElementById("send-button");
    sendButton.addEventListener("click", function() {
        const conversationId = sendButton.closest("form").getAttribute("data-conversation-id");
        const contentTextarea = sendButton.closest("form").querySelector("textarea[name='content']");
        const content = contentTextarea.value;
        console.log(contentTextarea);
        // Clear the content of the textarea
        contentTextarea.value = '';

        const formData = new FormData();
        formData.append("content", content);

        // Make a GET request using fetch
        fetch(`/send_message/${conversationId}/`, {
                    method: "POST",
                    body: formData,
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",  // Indicate an AJAX request
                        "X-CSRFToken": "{{ csrf_token }}"      // Include CSRF token
                    }
                })
            .then(response => response.json())
            .then(data => {
                // Handle the response if needed
                console.log(data);

        const text_area = document.getElementById(`messages-list-${conversationId}`);
        text_area.innerHTML = data.updated_messages_html;
            })
            .catch(error => {
                console.error("Error sending message:", error);
            });
    });


            })
            .catch(error => {
                console.error('Error loading chat content:', error);
            });
    }

    // Attach click event handlers to friend buttons
    friendButtons.forEach(button => {
        button.addEventListener('click', event => {
            const conversationUrl = event.target.getAttribute('data-conversation-url');
            console.log(conversationUrl);
            loadChatContent(conversationUrl);
        });
    });

    // Attach click event handlers to conversation buttons
    conversationButtons.forEach(button => {
        button.addEventListener('click', event => {
            const conversationUrl = event.target.getAttribute('data-conversation-url');
            loadChatContent(conversationUrl);
        });
    });




















        function post_scripts() {
    const clickablePostContents = document.querySelectorAll('.edit-button');

clickablePostContents.forEach(clickablePostContent => {
// Inside your event listener for hovering over posts
    const postId = clickablePostContent.getAttribute('data-post-id');

    const postUser = clickablePostContent.getAttribute('data-post-user'); // Assuming you have an attribute containing the post user's ID
    const loggedInUserId = '{{ request.user.id }}'; // Get the logged-in user's ID from the template

    if (postUser === loggedInUserId) {
        clickablePostContent.addEventListener('click', () => {
        const postId = clickablePostContent.getAttribute('data-post-id');
        const postContent = document.getElementById(`post-content-${postId}`);
        const editTextarea = document.getElementById(`edit-textarea-${postId}`);
        const fileInput = document.getElementById(`file-input-${postId}`);
        const fileAttachment = document.getElementById(`post-attachment-${postId}`);
        const fileInputForm = document.getElementById(`edit-file-container-${postId}`);

        const contentWidth = postContent.offsetWidth;
        const contentHeight = postContent.offsetHeight;


        // Set edit textarea dimensions to be at least 100px if content size is small
            const editWidth = contentWidth <= 10 ? 75 : contentWidth;
            const editHeight = contentHeight <= 10 ? 75 : contentHeight;


            editTextarea.style.width = `${editWidth}px`;
            editTextarea.style.height = `${editHeight}px`;

            if (postContent.style.display === 'block' || postContent.style.display === '') {
                postContent.style.display = 'none';
                fileInputForm.style.display = 'block';
                if (fileAttachment) {
                fileAttachment.style.display = 'none';
                }
            } else {
                postContent.style.display = 'block';
                fileInputForm.style.display = 'none';
                if (fileAttachment) {
                fileAttachment.style.display = 'block';
                }
            }
    });
    }
});










async function commentButtonEventListener(commentLink, event) {
    event.preventDefault();


            const postId = commentLink.getAttribute('data-post-id');
            const commentsSection = document.querySelector(`#comments-section-${postId}`);

            // Toggle the visibility of comments section
            if (commentsSection.style.display === 'none') {
                commentsSection.style.display = 'block';
            } else {
                commentsSection.style.display = 'none';
            }

            if (commentsSection.style.maxHeight) {
                commentsSection.style.maxHeight = null; // Collapse the comment section
            } else {
                commentsSection.style.maxHeight = commentsSection.scrollHeight*20 + "px"; // Expand the comment section
            }
}



      const commentLinks = document.querySelectorAll('.comment-link');

    commentLinks.forEach(commentLink => {
    commentLink.removeEventListener('click', commentButtonEventListener);
    commentLink.addEventListener('click', event => {
        commentButtonEventListener(commentLink, event);
    });
    });









async function saveButtonEventListener(saveButton, event) {
    event.preventDefault();

    const postId = saveButton.getAttribute('data-post-id');
        const editTextarea = document.getElementById(`edit-textarea-${postId}`);
       const fileContainer = document.getElementById(`edit-file-container-${postId}`);
const fileInput = fileContainer.querySelector('input[name="file"]');
        const postAttachment = document.getElementById(`post-attachment-${postId}`);
        const editedContent = editTextarea.value;
        const formData = new FormData(fileContainer);
        formData.append("edited_content", editedContent);

        fetch(`/edit_post/${postId}/`, {
                    method: "POST",
                    body: formData,
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",  // Indicate an AJAX request
                        "X-CSRFToken": "{{ csrf_token }}"      // Include CSRF token
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const postContent = document.getElementById(`post-content-${postId}`);
                        const postAttachment = document.getElementById(`post-attachment-${postId}`);
            postContent.textContent = editedContent;

            const postAttachmentContainer = postAttachment;
const attachmentUrl = data.url;
const attachmentExtension = attachmentUrl.slice(-4).toLowerCase();
const fileExtension = attachmentExtension === ".jpeg" ? ".jpg" : attachmentExtension;

let attachmentHTML = "";

if (fileExtension === ".jpg" || fileExtension === ".png" || fileExtension === ".jpeg") {
    attachmentHTML = `<img class="border" src="${attachmentUrl}" alt="${attachmentUrl}">`;
} else {
    const fileName = attachmentUrl.split('/').slice(-1)[0];
    attachmentHTML = `<a class="border" href="${attachmentUrl}" download="${fileName}">${fileName}</a>`;
}

postAttachmentContainer.innerHTML = attachmentHTML;


            // Hide the textarea and save button, show post content
            postContent.style.display = 'block';
            postAttachment.style.display = 'block';

            fileContainer.style.display = 'none';
                        console.log("Post edited successfully!");
                    } else {
                        // Handle error or validation messages (optional)
                        console.error("An error occurred while editing the post.");
                    }
                })
                .catch(error => {
                    console.error("An error occurred:", error);
                });
}



        // Add an event listener for save buttons
const saveButtons = document.querySelectorAll('.save-button');

saveButtons.forEach(saveButton => {
saveButton.removeEventListener('click', saveButtonEventListener);
saveButton.addEventListener('click', event => {
        saveButtonEventListener(saveButton, event);
    });
});











async function deleteButtonEventListener(button, event) {
    event.preventDefault();

        const confirmationMessage = button.getAttribute('data-confirm');
        if (!window.confirm(confirmationMessage)) {
            return;
        }

        const postId = button.getAttribute('data-post-id');
        try {
            const response = await fetch(`/delete/${postId}/`, {
                method: 'DELETE',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',  // Indicate an AJAX request
                    'X-CSRFToken': '{{ csrf_token }}'     // Include CSRF token
                }
            });

            if (response.ok) {
                // Remove the deleted post element from the DOM
                const postElement = document.getElementById(`post-card-${postId}`);
                postElement.remove();
            } else {
                console.error('An error occurred while deleting the post.');
            }
        } catch (error) {
            console.error('An error occurred:', error);
        }
}


        // Add this inside your script tag or in a separate JS file
const deleteButtons = document.querySelectorAll('.delete-post-button');

deleteButtons.forEach(button => {
button.removeEventListener('click', deleteButtonEventListener);
    button.addEventListener('click', event => {
        deleteButtonEventListener(button, event);
    });
});











async function commentButtonHandler(button, event) {
    event.preventDefault();

            const postId = button.getAttribute('data-post-id');
            const form = document.getElementById(`comment-form-${postId}`);

            // Find the textarea within the form and get its value
            const commentTextarea = document.getElementById(`comment-textarea-${postId}`);
            const commentContent = commentTextarea.value;

            try {
            const formData = new FormData();
        formData.append("comment_content", commentContent);

                const response = await fetch(`/add_comment/${postId}/`, {
                    method: 'POST',
                    body: formData,
                    headers: {
                    'X-Requested-With': 'XMLHttpRequest',  // Indicate an AJAX request
                    'X-CSRFToken': '{{ csrf_token }}'     // Include CSRF token
                }

                });

                if (response.ok) {
                    const responseData = await response.json();

                    // Create a new comment element based on the response data
                    const newCommentElement = document.createElement('div');
                    newCommentElement.classList.add('comment');

                    const createdDate = new Date(responseData.created_at);
const options = {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    hour: 'numeric',
    minute: 'numeric',
    second: 'numeric',
    timeZoneName: 'short'
};

const formattedDate = new Intl.DateTimeFormat('en-US', options).format(createdDate);

                    newCommentElement.innerHTML = `
                <div class="user-info">
                    <img class="profile-picture" src="${responseData.user_image}" alt="${responseData.username}">
                    <a>
                        <span class="username">${responseData.username}</span>
                    </a>

                    <button type="submit" class="edit-button edit-post-button" data-post-id="${responseData.comment_id}" data-post-user="${responseData.user_id}">
                        <i class="fas fa-edit"></i>
                    </button>
                    <form id="delete-post-form-${responseData.comment_id}" method="post" ">
                        {% csrf_token %}
                        <button  data-post-id="${responseData.comment_id}" data-post-user="${responseData.user_id}" class="delete-button delete-post-button"
                                 data-confirm="Are you sure you want to delete this comment?">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </div>

                <div class="post-content">
                    <div class="text-container" data-post-id="${responseData.comment_id}" data-post-user="${responseData.user_id}" id="post-content-${responseData.comment_id}">${responseData.comment_content}</div>
                    {% csrf_token %}
                    <textarea class="edit-textarea" name="edited_content" id="edit-textarea-${responseData.comment_id}" style="display: none;">{{responseData.comment_content}</textarea>
                    <button class="save-button" data-post-id="${responseData.comment_id}" data-post-user="${responseData.comment_id}" id="save-button-${responseData.comment_id}" style="display: none;">Save</button>

                </div>

                <div class="comment-actions">

                    <div class="like-form">
                        <span id="like-count-comment-${responseData.comment_id}" class="dislike-count">${responseData.likes}</span>
                        <button class="like-button" data-object-id="${responseData.comment_id}" data-is-comment="true">
                            <i class="fas fa-thumbs-up"></i>
                        </button>
                    </div>

                    <div class="dislike-form">
                        <span id="dislike-count-comment-${responseData.comment_id}" class="dislike-count">${responseData.dislikes}</span>
                        <button class="dislike-button" data-object-id="${responseData.comment_id}" data-is-comment="true">
                            <i class="fas fa-thumbs-down"></i>
                        </button>
                    </div>
                </div>

                    <div class="post-footer">
                        <span class="timestamp">${responseData.created_at}</span>
                    </div>


            `;

                    // Append the new comment element to the comments section
                    const commentsSection = document.getElementById(`comments-section-${postId}`);
                    commentsSection.appendChild(newCommentElement);



                    // Clear the comment text area
                    commentTextarea.value = '';

                    const likeButtons = document.querySelectorAll('.like-button');

    likeButtons.forEach(button => {
    button.removeEventListener('click', likeButtonListener);
    button.addEventListener('click', event => {
        likeButtonListener(button, event);
    });
});

const dislikeButtons = document.querySelectorAll('.dislike-button');

dislikeButtons.forEach(button => {
button.removeEventListener('click', dislikeEventListener);
    button.addEventListener('click', event => {
        dislikeEventListener(button, event);
    });
});




                    console.log('Comment added successfully!');
                } else {
                    console.error('An error occurred while adding the comment.');
                }
            } catch (error) {
                console.error('An error occurred:', error);
            }
}



const commentSubmitButtons = document.querySelectorAll('.comment-submit-button');

commentSubmitButtons.forEach(button => {
button.removeEventListener('click', commentButtonHandler);
button.addEventListener('click', event => {
        commentButtonHandler(button, event);
    });
});









async function likeButtonListener(button, event) {
    event.preventDefault();

    const objectId = button.getAttribute('data-object-id');
        const isComment = button.getAttribute('data-is-comment') === 'true';
        const comment = isComment ? 'comment' : 'post';
        console.log("dislike-count-"+comment+"-" + objectId);

        const response = await fetch(`/add_reaction/${objectId}/${isComment}/like/`, {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest', // Indicate an AJAX request
                'X-CSRFToken': '{{ csrf_token }}'     // Include CSRF token
            }
        });
        if (response.ok) {

            const responseData = await response.json();
            const reactions = responseData.reactions;

            // Update the displayed like and dislike counts
            const likeCountElement = document.getElementById(`like-count-${comment}-${objectId}`);
            const dislikeCountElement = document.getElementById(`dislike-count-${comment}-${objectId}`);

            const other_reactions = responseData.other;

            // Calculate the updated like count (other reactions minus one, with a minimum of zero)
            const updatedLikeCount = Math.max(other_reactions - 1, 0);
            likeCountElement.textContent = reactions.toString();
            dislikeCountElement.textContent = updatedLikeCount.toString(); // Update the displayed dislike count as a string
            } else {
            console.error('An error occurred while performing the dislike action.');
            }
}


const likeButtons = document.querySelectorAll('.like-button');

    likeButtons.forEach(button => {
    button.removeEventListener('click', likeButtonListener);
    button.addEventListener('click', event => {
        likeButtonListener(button, event);
    });
});








async function dislikeEventListener(button, event) {
    event.preventDefault();

    const objectId = button.getAttribute('data-object-id');
        const isComment = button.getAttribute('data-is-comment') === 'true';
        const comment = isComment ? 'comment' : 'post';

        const response = await fetch(`/add_reaction/${objectId}/${isComment}/dislike/`, {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest', // Indicate an AJAX request
                'X-CSRFToken': '{{ csrf_token }}'     // Include CSRF token
            }
        });

        if (response.ok) {

            const responseData = await response.json();
const reactions = responseData.reactions;
const other_reactions = responseData.other;

// Update the displayed like and dislike counts
const likeCountElement = document.getElementById(`like-count-${comment}-${objectId}`);
const dislikeCountElement = document.getElementById(`dislike-count-${comment}-${objectId}`);

// Calculate the updated like count (other reactions minus one, with a minimum of zero)
const updatedLikeCount = Math.max(other_reactions - 1, 0);

likeCountElement.textContent = updatedLikeCount.toString();

dislikeCountElement.textContent = reactions.toString(); // Update the displayed dislike count as a string

        } else {
            console.error('An error occurred while performing the dislike action.');
        }
}


const dislikeButtons = document.querySelectorAll('.dislike-button');

dislikeButtons.forEach(button => {
button.removeEventListener('click', dislikeEventListener);
    button.addEventListener('click', event => {
        dislikeEventListener(button, event);
    });
});

    }

        function searchPosts() {
            var input, filter, postList, posts, i, postCard, postContent, searchText;
            input = document.getElementById("search-input");
            filter = input.value.toLowerCase();
            postList = document.querySelector(".post-list");
            posts = postList.getElementsByClassName("post-card");

            for (i = 0; i < posts.length; i++) {
                postCard = posts[i];
                postContent = postCard.querySelector(".post-content");
                searchText = postContent.textContent || postContent.innerText;

                if (searchText.toLowerCase().indexOf(filter) > -1) {
                    postCard.style.display = "";
                } else {
                    postCard.style.display = "none";
                }
            }
        }





        document.addEventListener('DOMContentLoaded', () => {
            const postForm = document.getElementById('post-form');

            postForm.addEventListener('submit', async (event) => {
                event.preventDefault(); // Prevent the default form submission

                const formData = new FormData(postForm); // Get the form data
                try {
                    const response = await fetch('/post_creation', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest', // Indicate an AJAX request
                            'X-CSRFToken': '{{ csrf_token }}'     // Include CSRF token
                        }
                    });

                    if (response.ok) {
                        const responseData = await response.json();

                        if (responseData.success) {
                            // Clear the form after successful submission
                            postForm.reset();
                            try {
                                const response = await fetch('/get_updated_posts'); // Replace with the actual URL
                                if (response.ok) {
                                    const newData = await response.json();

                                    // Replace the post list with the new HTML content
                                    const postList = document.querySelector('.post-list');
                                    postList.innerHTML = newData.updated_html;

                                    post_scripts();


                                    console.log('Post list updated successfully.');
                                } else {
                                    console.error('An error occurred while fetching updated posts.');
                                }
                            } catch (error) {
                                console.error('An error occurred:', error);
                            }
                            console.log('Post created successfully!');
                        } else {
                            console.error('An error occurred while adding the post.');
                        }
                    } else {
                        console.error('An error occurred while adding the post.');
                    }
                } catch (error) {
                    console.error('An error occurred:', error);
                }
            });
        });








    </script>
</body>

</html>